<div class="content">
	<div class="row">

		<div class="col-md-6 col-sm-6 col-xs-6">
			<h1>Me dijeron que el que estaba leyendo esto era una suricata insolente *_* así que le dejo a ese bichito bonito una invitación para mañana,
			Siempre y cuando quiera y no le incomode &gt;_&lt; (mentira, en verdad no tiene opción y lo rapto. Alooo!</h1>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<%= image_tag asset_path("meerkat.jpg"),:alt => "Meerkat" %>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("kramer.jpg"),:alt => "Kramer" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("strawberry.jpg"), :alt => "Strawberries" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("wine.jpg"), :alt => "Wine" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= image_tag asset_path("box.jpg"), :alt => "Box" %>
		</div>
	</div>
</div>